<%- include('../Partials/header.ejs') %>

<body>
    <h1>Main page choose your app</h1>
    <a href="/ej1/">Temblor info</a>
    <a href="/ej2/">Calculadora de monedas</a>
    <a href="/ej3/">Edad cerveza</a>
    <a href="/ej4/">Carousel de photos</a>
</body>
<footer>

</footer>
</html>