<%- include('../Partials/header.ejs') %>

<body>
  <h1>Que se hace durante el temblor?</h1>
  <h2>Antes</h2>
  <p>Blah</p>
  <h2>Durante</h2>
  <p>Blah</p>
  <h2>Despues</h2>
  <p>Blah</p>
</body>
</html>